/* all button this color */
/* background-color: #9C00C9; */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  width: 25%;
  margin: 1%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 4px;
}
.data_wrapper {
  text-align: center;
}
.modal {
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.132);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.data_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
img {
  margin: 1rem;
}
img:hover {
  cursor: pointer;
}
.myModal {
  /* display: none; */
  position: fixed; /* Position it fixed to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.myModal .close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.close:hover {
  color: rgb(190, 45, 45);
}

.myModal .image {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

/* Optional: Add some styles for the content inside the myModal */
.myModal .image img {
  max-width: 100%;
  max-height: 80vh; /* Adjust the max-height as needed */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.close_modal {
  display: none;
}
.modal_img {
  width: 70%;
}
.targetLogo {
  box-shadow: none;
}
/* next button */
.nextButton {
  background-color: #9c00c9;
  border: none;
  width: 15%;
  padding: 15px 30px;
  margin: 50px 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
.nextButton:hover {
  background-color: #da6dff;
}
.controlBothButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* on search.js page searchbox */
.search_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.search_wrapper input {
  width: 30%;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #9c00c9;
}
.search_wrapper button {
  padding: 0px 20px;
  margin-left: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #9c00c9;
}
.search_wrapper button:hover {
  background-color: #da6dff;
}

/* login page */
.targetForm {
  width: 30%;
  margin: auto;
}
.targetForm h4 {
  font-size: 20px;
}
.register:hover {
  color: #9c00c9;
}
.loginButton {
  background-color: #9c00c9;
  width: 70%;
  border-radius: 20px;
  border: none;
  margin: 30px auto;
  display: block;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 18px;
}
.parentLogin {
  background-image: url('https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJhY2tncm91bmQlMjBjaXJjbGUlMjBwdXJwbGV8ZW58MHx8MHx8fDA%3D');
  min-height: 90vh;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* logout page */
/* logout page use the same baxkground class login page */
.whiteBox {
  width: 30%;
  height: 300px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  padding-top: 30px;
}

/* sign up or register page */
.mainBox {
  width: 80%;
  margin: 40px auto 20px auto;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
}
/* control image side of sign up box */
.bg-side {
  width: 30%;
  background-image: url('https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJhY2tncm91bmQlMjBjaXJjbGUlMjBwdXJwbGV8ZW58MHx8MHx8fDA%3D');
  background-size: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.signUpForm {
  width: 70%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.signUpForm h3 {
  margin-top: 50px;
  margin-left: 70px;
}
.signUpForm p {
  margin-left: 70px;
}

.makeInputBoxSidebySide {
  display: flex;
  justify-content: center;
}
.makeInputBoxSidebySide input {
  width: 40%;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #bdc3c7;
}
.agreeBox {
  width: 82%;
  margin: 10px auto;
  display: flex;
  align-items: center;
}
.agreeBox input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #bdc3c7;
}
.signUpButton {
  padding: 12px 80px;
  display: block;
  margin: 20px auto 50px auto;
  border-radius: 10px;
  background-color: #9c00c9;
  color: white;
  font-weight: bold;
  border: none;
}
.signUpButton:hover {
  background-color: #da6dff;
}

/* ipad */
@media screen and (max-width: 992px) {
  .nextButton {
    width: 25%;
    font-size: 20px;
  }
  .wrapper {
    margin-top: 40px;
  }
  .search_wrapper input {
    width: 50%;
  }
  /* login page */
  .targetForm {
    width: 70%;
    margin: auto;
    font-size: 25px;
    color: black;
  }
  .parentLogin {
    min-height: 100vh;
  }
  /* logout page*/
  .whiteBox {
    width: 70%;
    height: 350px;
    top: 30%;
  }
  .whiteBox h4 {
    font-size: 30px !important;
    margin-top: 20px;
  }
  .whiteBox img {
    box-shadow: none;
  }
  img {
    width: 40% !important;
    margin: 1%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  /* register page - sign up page  */
  .makeInputBoxSidebySide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .makeInputBoxSidebySide input {
    width: 80%;
  }
  .signUpForm h3 {
    margin-top: 50px;
    margin-left: 50px;
  }
  .signUpForm p {
    margin-left: 50px;
  }
  .agreeBox span {
    font-size: 14px;
  }
  .agreeBox input {
    margin-right: 20px;
  }
  .agreeBox {
    align-items: flex-start;
  }
  /* pop up image on home.js*/

  .myModal .image img {
    width: 80% !important;
    height: 400px !important; /* Adjust the max-height as needed */
    object-fit: cover;
  }
}

/* sign up or register page */

/* phone */
@media only screen and (max-width: 600px) {
  .targetForm {
    font-size: 18px;
  }
  .parentLogin {
    height: 100vh;
    margin-top: 30px;
  }
  .parentLogin h2 {
    font-size: 25px;
  }
  .whiteBox {
    width: 300px !important;
    height: 200px;
  }

  .register {
    color: #9c00c9;
    font-size: 20px;
  }
  .noAccountH2 {
    font-size: 16px;
  }
  /* input searchBox */
  .search_wrapper input {
    width: 60%;
    text-align: center;
  }
  /* next button */
  .nextButton {
    width: 25%;
    padding: 10px 30px;
    font-size: 14px;
  }
  /* search button */
  .search_wrapper button {
    font-size: 14px;
  }
  /* logout page*/
  .whiteBox {
    width: 70%;
    height: 300px;
    top: 30%;
  }
  .whiteBox h4 {
    font-size: 20px !important;
  }
  /* register page - sign up page  */
  .mainBox {
    width: 100%;
    margin: 40px auto 40px auto;
    flex-direction: column;
  }
  /* control image side of sign up box */
  .bg-side {
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
  }
  .signUpForm {
    width: 100%;
  }
  .signUpForm h3 {
    margin-top: 50px;
    margin-left: 40px;
  }
  .signUpForm p {
    margin-left: 40px;
  }
  .agreeBox input {
    margin-right: 10px;
    margin-left: 5px;
  }
  /* pop up image on home page */
  .myModal .image img {
    width: 68% !important;
    height: 200px !important; /* Adjust the max-height as needed */
  object-fit: cover;
  }
}

/* @media only screen and (min-width: 200px) and (max-width: 400px) {

} */
