/* all button this color */
/* background-color: #9C00C9; */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  width: 25%;
  margin: 1%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 4px;
}
.data_wrapper {
  text-align: center;
}
.modal{
  width:100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.132);
  top:0;
  bottom:0;
  right:0;
  left:0;
}
.data_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
img {
  margin: 1rem;
}
img:hover {
  cursor: pointer;
}
.myModal {
  /* display: none; */
  position: fixed; /* Position it fixed to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.myModal .close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.close:hover {
  color: rgb(190, 45, 45);
}

.myModal .image {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

/* Optional: Add some styles for the content inside the myModal */
.myModal .image img {
  max-width: 100%;
  max-height: 80vh; /* Adjust the max-height as needed */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.close_modal {
  display: none;
}
.modal_img {
  width: 70%;
}
.targetLogo{
  box-shadow: none;
}
/* next button */
.nextButton{
  background-color: #9C00C9;
  border: none;
  width: 15%;
  padding: 15px 30px;
  margin: 50px 20px;
  color: white;
  font-weight: bold;
border-radius: 10px;
}
.nextButton:hover{
  background-color: #da6dff;
}
.controlBothButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* on search.js page searchbox */
.search_wrapper{

  display: flex;
 justify-content: center;
 margin-bottom:40px ;


}
.search_wrapper input{
  width: 30%;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #9C00C9;
}
.search_wrapper button{
padding: 0px 20px;
margin-left: 10px;
border-radius: 10px;
font-weight: bold;
color: white;
border: none;
background-color: #9C00C9;
}
.search_wrapper button:hover{
background-color: #da6dff;
}

/* login page */
.targetForm{
  width: 30%;
  margin: auto;
/* background-color: white; */
}
.loginButton{
  background-color: #9C00C9;
  width: 70%;
  border-radius: 20px;
  border: none;
  margin: 30px auto;
  display: block;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 18px;
}
.parentLogin{
  background-image: url('https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJhY2tncm91bmQlMjBjaXJjbGUlMjBwdXJwbGV8ZW58MHx8MHx8fDA%3D');
  min-height: 90vh;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
position: relative;
}
/* logout page */
/* logout page use the same baxkground class login page */
.whiteBox{
  width: 30%;
  height: 300px;
  background-color: white;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
text-align: center;
padding-top: 30px;
}

/* ipad */
@media screen and (max-width: 992px){
  .nextButton{
    width: 25%;
    font-size: 20px;
  }
  .wrapper {
    margin-top: 40px;
  }
  .search_wrapper input{
width: 40%;
  }
  /* login page */
.targetForm{
  width: 70%;
  margin: auto;

}
.parentLogin{
  min-height: 50vh;
}
/* logout page*/
.whiteBox{
width: 50%;
}

}
/* phone */
@media screen and (max-width:600px){
  .nextButton{
    width: 25%;
    font-size: 20px;
  }
  img {
    width: 45%!important;
    margin: 1%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 4px;
  }

  /* login page */
.targetForm{
  width: 100%;
  margin: auto;
  background-color: #da6dff;

}
.parentLogin{
height: 20vh;
margin-top:30px ;
}
/* .whiteBox{
  width: 100%;
  } */
}

